﻿<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @using (Html.BeginForm("Search", "Home"))
        {
            <div class="input-group input-group-lg">
                <input type="search" name="term" class="form-control input-lg" placeholder="Search weather ...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"> 
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>

                </span>
            </div>
        }
    </div>
</div>