﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<br/>
<div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Backend</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">FrontEnd</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Accu Weather</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home">
            <div class="row">
                <div class="col-md-4">
                    <h2>ASP.NET MVC</h2>
                </div>
                <div class="col-md-4">
                    <h2>Entity Framework 6</h2>
                </div>
                <div class="col-md-4">
                    <h2>SQL Server 12</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>Log4Net</h2>
                </div>
                <div class="col-md-4">
                    <h2>Newtonsoft JSON</h2>
                </div>
                <div class="col-md-4">
                    <h2></h2>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="profile">
            <div class="row">
                <div class="col-md-4">
                    <h2>Twitter Bootstrap</h2>
                </div>
                <div class="col-md-4">
                    <h2>JQuery</h2>
                </div>
                <div class="col-md-4">
                    <h2>Ajax</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>ASP.NET Razor</h2>
                </div>
                <div class="col-md-4">
                    <h2>Responsive</h2>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="messages">
            <div class="row">
                <div class="col-md-6">
                    <h2><a href="http://apidev.accuweather.com/developers/" target="_blank">Accu Weather API</a></h2>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            </div>
        </div>
    </div>
</div>