﻿@model IgniaWeather.ViewModels.HomeViewModel
@using IgniaWeather.Models;
@{
    ViewBag.Title = "Search";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @using (Html.BeginForm("Search", "Home"))
            {
                <div class="input-group input-group-lg">
                    <input type="search" name="term" class="form-control input-lg" placeholder="Search weather ...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            }
            
            <h5 style="color:dodgerblue">
                <span id="errorMessage">
                    @if (!String.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        @Html.Raw(Model.ErrorMessage);
                    }
                </span>
            </h5>
        </div>
    </div>
</div>
@if (Model.weather != null && Model.weather.WeatherIcon != 0)
{
    var iconLink = "https://developer.accuweather.com/sites/default/files/" + (Model.weather.WeatherIcon < 10 ? "0" + Model.weather.WeatherIcon.ToString() : Model.weather.WeatherIcon.ToString()) + "-s.png";
    var date = Convert.ToDateTime(Model.weather.LocalObservationDateTime);
    <div class="row">
        <div class="col-md-4">
            <h3>@Model.currentLocation.EnglishName</h3>
            <h4>@date.ToShortDateString() @date.ToShortTimeString() </h4>

        </div>
        <div class="col-md-4"><img src="@iconLink" /> @Model.weather.Temperature.Metric.Value@Model.weather.Temperature.Metric.Unit </div>
        <div class="col-md-4"><h4>@Model.weather.WeatherText</h4></div>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <h5 class="top-left">Country: @Model.currentLocation.Country.EnglishName</h5>

        <div class="dropdown">
            @Html.DropDownList("ddlRegions", new SelectList(Model.AllRegions, "ID", "EnglishName"), "Change..", new { @id = "ddlRegion", @class = "form-control", @onchange = "javascript:GetCountry(this.value);" })
        </div>
        <div class="dropdown">
            <select id="ddlCountry" name="ddlCountry" class="btn btn-default dropdown-toggle" style="display:none;" onchange="javascript:ChangeCountry(this);"></select>
        </div>
    </div>
    <div class="col-md-8">
    </div>
</div>

